

.skill{
text-align: center;
font-size: 900%;
background: transparent;
font-family:Georgia, 'Times New Roman', Times, serif;
color:lightgrey ;
margin-left: 30%;
position: relative;

}

.main{
display: inline-flex;
position: absolute;
top: 100px;
margin: 10px;
}

.type{
font-size: x-large;
margin-left: 30%;
padding: 10px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: lighter;
white-space: nowrap; /*this help to keep text in same line like express js*/
letter-spacing: 5px;
line-height: 1em;
margin-top: 5%;
}